<header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button id="drawerButton" class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
      <a class="mdc-top-app-bar__title" href="/" style="color:white">#{config.title}</a>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button id="searchButton" class="material-icons mdc-top-app-bar__action-item mdc-icon-button">search</button>
    </section>
  </div>
</header>