.page-search
  .search-body
    .search-input-container.flex-row.flex-cross-center
      i.material-icons search
      input.search-input.flex(placeholder="搜索文章...")
    .search-result(data-dirty="false" data-emptyResult="false")
      //- 搜索结果由js渲染
      