@import 
  '../_utils.scss',
  './common',
  './trim',
  './tags';

:root {
  --mdc-theme-primary: #6B69F6; 
}

a {
  color: black;
  text-decoration: none;
  &:active {}
}

// 自定义scrollBar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #666;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background-color: #eee;
}

::selection {
  color: white;
  background-color: #666;
}



