figure {
  margin: 10px 0; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #1E1E1E;
  color: #D4D4D4;
  font-family: 'Consolas', serif; }
  .hljs .hljs-keyword,
  .hljs .hljs-literal {
    color: #569CD6; }
  .hljs .hljs-title {
    color: #DCDCAA; }
  .hljs .hljs-built_in {
    color: #DCDCAA; }
  .hljs .hljs-string {
    color: #CE9178; }
  .hljs .hljs-number {
    color: #B5CEA8; }
  .hljs .hljs-symbol {
    color: #569CD6; }
  .hljs .hljs-comment {
    color: #6A9955; }
  .hljs .hljs-function {
    color: #D4D4D4; }
    .hljs .hljs-function .hljs-params {
      color: #9CDCFE; }
  .hljs .hljs-regexp {
    color: #D16969; }
  .hljs .hljs-tag {
    color: #858585; }
    .hljs .hljs-tag .hljs-name {
      color: #569CD6; }
    .hljs .hljs-tag .hljs-attr {
      color: #9CDCFE; }
  .hljs .hljs-selector-class,
  .hljs .hljs-selector-pseudo {
    color: #D7BA7D; }
  .hljs .hljs-attribute {
    color: #9CDCFE; }
  .hljs.css .hljs-keyword, .hljs.scss .hljs-keyword {
    color: #C586C0; }
